XRAY_IMAGE=ghcr.io/xtls/xray-core@sha256:3629bf7d825748cda29698ac354f8f2146f6b292edb9eb0c7cb7fe0583dae091
CLIENT_UUID=
REALITY_PRIVATE_KEY=
REALITY_PUBLIC_KEY=
REALITY_SHORT_ID=
REALITY_TARGET=
REALITY_SNI=
SERVER_ADDRESS=
CLIENT_FINGERPRINT=firefox
